.container {
    /* header is 64.5 px */
    min-height: calc(100vh - 64.5px);
}

.center-item {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}   
