.review {
    display: flex;
    padding: 12px;
}

.ratings {
    font-weight: 700;
}

.ratings > div {
    display: flex;
    justify-content: center;
}

.label {
    padding: 6px;
    font-size: 16px;
}

.rating {
    padding: 12px;
    font-size: 32px;
    margin-bottom: 6px;
    border-radius: 4px;
}

.message {
}