h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 1rem;
}

span {
    color: white;
}

.header {
    background: linear-gradient(233.89deg, #DC4405 1.55%, #E17446 98.65%);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: 100%;
}

.header__left {
    align-items: center;
    display: flex;
    grid-column: 1;
}

.header__right {
    display: flex;
    grid-column: 2;
}

.mobile {
    display: none;
}

a {
    text-decoration: none;
}

.mobile__drawer {
    animation-name: drawer_slide_down;
    animation-duration: 0.3s;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

@keyframes drawer_slide_down {
    to {
        top: 0rem;
    } from {
        top: -20rem;
    }
}

@media only screen and (max-width: 490px) {
    .desktop {
        display: none;
    }

    .mobile {
        cursor: pointer;
        display: block;
        padding: 1rem;
    }
}